@import url(./fonts.css);

/* CUSTOM PROPS */
:root {
    --orange: #FF7500;
    --white: #fff;
    --dark-blue: #252420;
    --roboto: 'Roboto';
    --robotCondesed: "RobotoCondensed";
}

/* GLOBAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1130px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}



/* header */

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-header {

}
.site-header__line {
    width: 100%;
    height: 5px;
    background-color: var(--orange);
}
.site-header__nav {
    padding-top: 16px;
    padding-bottom: 16px;
}

.site-header__logo {
}
.logo {
    display: flex;
    align-items: center;
    column-gap: 12px;
    transition: .5s;
}
.logo:hover {
    opacity: 0.8;
}
.logo:active {
    opacity: .6;
}
.logo-image {
    width: 38px;
    height: 59px;
}
.logo-name {
    font-family: var(--robotCondesed);
    font-size: 32px;
    font-weight: 700;
    color: var(--dark-blue);
}

.logo-name::after {
    content: "nashr";
    color: var(--orange);
}
.site-header__list {
    display: flex;
    column-gap: 30px;
}

.site-header__link {
    color: #000;
    font-family: var(--roboto);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: .5s;
}

.site-header__link::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--orange);
    transition: .5s;
}
.site-header__link:hover::after{
    width: 100%;
}
.site-header__link:hover {
    color: var(--orange);
}

.all-btn {
    padding: 12px 24px;
    background-color: var(--orange);
    color: var(--white);
    border-radius: 4px;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    font-family: var(--roboto);
    letter-spacing: 0.5px;
    transition: .5s;
}
.all-btn:hover {
    opacity: .8;
}
.all-btn:active {
    opacity: .6;
}




